.poke-info {
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #574e7c;
    line-height: 0;
}

.imageDiv{
    width: 150px;
    height: 150px;
    margin: 3% auto 0 auto;
    text-align: center;
}

.imagenPokemon{
    margin: auto;
}

.centro {
    margin: 0 auto 0 auto;
    width: 100%;
}

.recharts-wrapper{
    overflow: visible;
    margin: 0 auto;
}

tspan {
    color: #fff;
}

.recharts-surface {
    overflow: visible;
}

.poke-info::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.poke-info ul {
    list-style-type: none;
    padding-left: 5px;
    line-height: 1.2;
}

.poke-info ul li ul {
    padding-left: 5%;
}

@media only screen and (min-width: 600px) {
    .poke-info {
        width: 25%;
        height: 80%;
        position: relative;
        margin-left: 2.5%;
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    .poke-info {
        width: 90%;
        height: 40%;
        position: absolute;
        margin-left: 5%;
        top: 5%;
        text-align: center;
    }

    #stats {
        position: relative;
    }
}


/**
 Colores de los tipos de pokemon
 */
#normal {
    background-color: #aaaa99;
}
#fire {
    background-color: #ff4422;
}
#water {
    background-color: #3399ff;
}
#electric {
    background-color: #ffcc33;
}
#grass {
    background-color: #77cc55;
}
#ice {
    background-color: #66ccff;
}
#fighting {
    background-color: #bb5544;
}
#poison {
    background-color: #aa5599;
}
#ground {
    background-color: #ddbb55;
}
#flying {
    background-color: #8899ff;
}
#psychic {
    background-color: #ff5599;
}
#bug {
    background-color: #aabb22;
}
#rock {
    background-color: #bbaa66;
}
#ghost {
    background-color: #6666bb;
}
#dragon {
    background-color: #7766ee;
}
#dark {
    background-color: #775544;
}
#steel {
    background-color: #aaaabb;
}
#fairy {
    background-color: #ee99ee;
}