@media only screen and (min-width: 600px) {
    .poke-info {
        -webkit-border-radius: 1%;
        -moz-border-radius: 1%;
        border-radius: 1%;
        width: 20%;
        height: 80%;
        position: relative;
        margin-left: 5%;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        background-color: #574e7c;
        top: 10%;
        position: relative;
    }
    .poke-info::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

    .poke-info ul {
        list-style-type: none;
        padding: 0;
    }

    .poke-info ul li ul {
        padding-left: 5%;
    }

    .poke-info img {
        width: 96px;
        height: 96px;
    }
}
@media only screen and (max-width: 600px) {
    .poke-info {
        -webkit-border-radius: 1%;
        -moz-border-radius: 1%;
        border-radius: 1%;
        width: 80%;
        height: 40%;
        position: absolute;
        margin-left: 5%;
        background-color: #574e7c;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        top: 5%;
    }
    .poke-info::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

    .poke-info ul {
        list-style-type: none;
        padding: 0;
    }

    .poke-info ul li ul {
        padding-left: 5%;
    }

    .poke-info img {
        width: 96px;
        height: 96px;
    }
}